footer {
    background-color: darkred;
    color: #fff;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
 /*Upper Contents*/ 
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .footer-section {
    margin: 0 10px;
    vertical-align: top;
  }
  .footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .footer-section p {
    margin-bottom: 5px;
  }
  .social-icons {
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  .social-icons a {
    color: #fff;
    font-size: 25px;
    transition: color 0.3s ease;
  }
 /*Upper Contents*/ 
 /*Lower Contents*/ 
 .footer-bottom {
    text-align: center;
    margin-top: 0;
    padding: 0;
  }
  .footer-bottom p {
    margin-bottom: 0
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .footer-links li {
    display: inline-block;
    margin-right: 13px;
  }
  .footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .footer-links a:hover {
    color: #f0f0f0;
  }
 /*Lower Contents*/ 
