body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: white;
    height: 1500px;
    position: relative;
  }
/* Target the scrollbar */
::-webkit-scrollbar {
    width: 10px; 
  }
  ::-webkit-scrollbar-track {
    background: lightgray; 
  }
  ::-webkit-scrollbar-thumb {
    background: darkred; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: darkred;
  }
  /* Target the scrollbar */